<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name="com.flovera.app.debug.ChronologicalTranscriptDebugReceiver"
            android:exported="true" />
        <receiver
            android:name="com.flovera.app.debug.ConversationTimelineDebugReceiver"
            android:exported="true" />
        <receiver
            android:name="com.flovera.app.debug.ContextOverflowRecoveryDebugReceiver"
            android:exported="true" />
        <receiver
            android:name="com.flovera.app.debug.DesktopAutomationOcrDebugReceiver"
            android:exported="true" />
        <activity
            android:name="com.flovera.app.debug.DesktopAutomationOcrDebugActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>
</manifest>
